<div class="card">
  <div class="card-body qr-card text-center">
    <h3 class="qr-title"><%= blog_article.short_url_title %></h3> 
    <p class="qr-subtitle">Scan the QR code</p>
    <div class="qr-code mb-3" data-url="<%= blog_article.url %>"></div>
  </div>
</div>